<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!--<binding name="wsSecureBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>-->
      </wsHttpBinding>
    </bindings>
    <services>
      <!--<service behaviorConfiguration="" name="BookStoreService.BookService">
        <endpoint address="http://localhost:58660/BookService"
                  binding="wsHttpBinding"
                  bindingConfiguration="wsSecureBinding"
                  name="wsSecure"
                  contract="BookStoreService.IBookService" />
      </service>
      <service behaviorConfiguration="" name="BookStoreService.AuthorService">
        <endpoint address="http://localhost:58660/AuthorService"
                  binding="wsHttpBinding"
                  bindingConfiguration="wsSecureBinding"
                  name="wsSecure"
                  contract="BookStoreService.IAuthorService" />
      </service>
      <service behaviorConfiguration="" name="BookStoreService.PublisherService">
        <endpoint address="http://localhost:58660/PublisherService"
                  binding="wsHttpBinding"
                  bindingConfiguration="wsSecureBinding"
                  name="wsSecure"
                  contract="BookStoreService.IPublisherService" />
      </service>-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name ="defaultProfile">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="AuthValidator, AuthValidator"/>
          </serviceCredentials>
        </behavior>-->
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BookStoreDbContext" connectionString="metadata=res://*/BookStore.csdl|res://*/BookStore.ssdl|res://*/BookStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BookStoreDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
